/* General css */

.wrap {
	width: 90%;
	transform: translate(-50%,0);
	margin-left: 50%;
	z-index: 1;
	position: relative;
}

/* Connexion page */

#signin {
	display: flex;
	transform: translate(-50%,0);
	margin-left: 50%;
	border: black solid 3px;
	width: 500px;
	padding: 5px;
}

#signinSeparator {
	height: 100px;
	width: 1px;
	border: black solid  1px;
	background: black;
	margin: 1px;
}

#inscription {
	margin-right: 5px;
}
#connexion {
	margin-left: 5px;
}