/* General css */

body {
	background-image: url("../images/bodyBackground.jpg");
	background-size: cover;
	position: relative;
	padding-bottom: 200px;
}

h1, h2, h3, h4, h5 {
	color: rgb(202,153,97);
}

.wrap {
	width: 80%;
	transform: translate(-50%,0);
	margin-left: 50%;
	z-index: 1;
	position: relative;
	background-color: rgb(218, 217, 222); 
	padding: 1em;
	min-height: 575px;
}

/* Connexion page */

#signin {
	display: flex;
	border: black solid 3px;
	border-radius: 15px;
	width: 40%;
	padding: 10px;
	background: rgb(168,165,165);
	background: linear-gradient(90deg, rgba(168,165,165,1) 0%, rgba(255,255,255,1) 48%, rgba(168,165,165,1) 100%);
}

#signinSeparator {
	height: 400px;
	width: 1px;
	background: black;
	margin: 1px;
	margin: 0 20px 0 20px;
}

.signinButton {
	margin-top: 10px;
}

#inscription {
	margin-right: 5px;
}
#connexion {
	margin-left: 5px;
}

#signinFlex {
	display: flex;
	width: 90%;
	align-items: center;
    justify-content: center;
}	

/* comment */

.separCom {
	height: 0.2em;
	background: black;
}

/* Home */

.homeImg {
	width: 40%;
	margin: auto;
}

#homeFlex {
	display: flex;
}

#homeAlaska {
	margin-left: 50%;
	transform: translate(-50%,0);
	width: 700px;
	height: 400px;
}

#rgpdHome {
	font-style: italic;
	color: grey;
	font-size:  15px;
	margin: 10px 0 0 50%;
	transform: translate(-50%,0);
}

/* post */ 

#content2 {
	margin-top: 15px;
}